<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.videa.voice"
    android:versionCode="1"
    android:versionName="0.0.0001" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>   
    

    <application
        android:name="me.videa.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="SpeechIntelligence"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="me.videa.voice.show.VoiceMainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:icon="@drawable/icon"
            android:label="SpeechIntelligence"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.videa.functions.screenlock.ShowLockActivity" >
        </activity>
        <activity android:name="me.videa.show.RemoteFileShow" >
        </activity>

        <service
            android:name="me.videa.voice.service.SpeechIntelligence"
            android:exported="false" >
            <intent-filter>
                <action android:name="me.videa.VoiceService" >
                </action>

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>
        <service
            android:name="me.videa.functions.screenlock.LockService"
            android:exported="true" >
            <intent-filter>
                <action android:name="me.videa.LockService" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>

        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="&apos;55705c2b&apos;" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Android_Demo" />
    </application>

</manifest>